body {font-family: "Roboto", sans-serif;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

ul {
        list-style-type: none;
    }

/* Links */
a {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}
a:hover,
a:focus {
    color: #404bbf;
}

/* Button */
button:hover,
button:focus {
    color:#404bbf;
}
button {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    color: #fff
}
.btn {
    cursor: pointer;
}

/* Logo Nav */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}
.logo-accent {
    color: #4d5ae5
}

/* Navigation Board */
.nav-board {
    color: #2e2f42;
    font-weight: 500;
}


/* Big Box */
.box {
    background-color: #2e2f42;
}
.box-sentence {
    font-weight: 700;
    color: #fff;
}

/* Features and Names */
h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        color: #2e2f42;
}
h2 {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11111;
        text-align: center;
        color: #2e2f42;
}
.team-members{
    text-align: center;
}
.team-box {
    background-color: #f4f4fd;
}

/* Footer */
.footer-box { 
    background-color: #2e2f42;
}
.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-p {
    color: #f4f4fd;
    font-weight: inherit;
}