body {font-family: "Roboto", sans-serif;
    background-color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;}

.header-style {
    font-style: normal;
}

ul {
        list-style-type: none;
    }

/* Links */
a {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}
a:hover,
a:focus {
    color: #404bbf;
}

/* Mail & Phone*/
.info:hover,
.info:focus {
    color: #404bbf;
}

/* Button */
.btn:hover,
.btn:focus {
    background-color:#404bbf;
}
button {
    font-family: inherit;
    font-weight:500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    color: #fff
}
.btn {
    cursor: pointer;
}

/* Logo Nav */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.logo-accent {
    color: #2e2f42;
}

/* Navigation Board */
.nav-board {
    color: #2e2f42;
    font-weight: 500;
}


/* Big Box */
    .box-sentence {
    background-color: #2e2f42;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 700;
    color: #fff;
}

/* Features and Names */
.names {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.second-p {
    font-size: 16px;
}
.headers {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-transform: capitalize;
}
.team-members{
    text-align: center;
}
.team-box {
    background-color: #f4f4fd;
}
.third-list {
    background-color: #fff;
}

/* Footer */
.footer-box { 
    background-color: #2e2f42;
}
.logo-footer {
    color: #f4f4fd;
    line-height: 1.17;
}
.footer-p {
    color: #f4f4fd;
    font-weight: inherit;
}